@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
a{
color: #1189a2;
font-family: 'Lato', sans-serif;
font-size: 16px;
}
.primary-small:visited{
	text-decoration: none !important;
	color: #fff !important;
}
a:hover{
color: #0e829b;
}
h1, h2, h3 {
font-family: 'Lato', sans-serif;
}
h1{
font-size: 49px;
color: #fff!important;
margin-top:0px;
text-shadow: 1px 1px #0000002e;
}
h2{
/*    padding-bottom: 20px;*/
font-size: 28px;
color: #828993;
}
p, li {
font-family: 'Lato', sans-serif;
font-size: 16px;
color: #7b7b7b;
}